[submodule "themes/butterfly"]
    path = themes/butterfly
    url = git@github.com:Szturin/Hexo_origin.git

[submodule "themes/hexo-theme-matery"]
    path = themes/hexo-theme-matery
    url = git@github.com:Szturin/Hexo_origin.git